<h2>
  Modulo de Productos
</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dashboard', 'products', 'product-list']"
    >
      Lista de productos
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dashboard', 'products', 'product-new']"
    >
      Nuevo producto.
    </a>
  </li>
</ul>
<div class="container">
  <h1>listado</h1>
</div>
