<div class="animate__animated animate__fadeIn animate__fast">
  <h1 class="text-center">Drunk WebStore</h1>
  <hr />
  <app-slider></app-slider>

  <h2 class="text-center h3 mt-4">Ultimos Licores</h2>
  <hr />
  <!-- <owl-carousel-o class="card-deck" [options]="customOptions">
    <ng-template carouselSlide *ngFor="let prod of products">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            {{ prod.desc_short }}
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o> -->

  <div class="row row-cols-4">
    <div class="col mb-4" *ngFor="let prod of products">
      <div class="card">
        <img
          [src]="prod.img | img: 'product'"
          class="card-img-top img-fluid h-50"
          [alt]="prod.name"
        />
        <div class="card-body">
          <h5 class="card-title">
            <a [routerLink]="['/licores', prod._id]">
              {{ prod.name }}
            </a>
          </h5>
          <p class="card-text">
            <small class="badge badge-pill badge-primary">
              {{ prod.category.name }}
            </small>
          </p>
          <p class="card-text">
            {{ prod.desc_short }}
          </p>
          <button class="btn btn-sm btn-outline-dark d-block mx-auto">
            <i class="fa fa-cart-plus"></i>
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <h2 class="text-center h3 mt-4">Todos los productos</h2>
  <hr />
  <app-product-list class="mb-5"></app-product-list> -->
</div>
