<div class="container container-expand-lg ">
    <h3 style="color: aliceblue; text-align: center;  " class="m-5">Bienvenido</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text fa fa-user m-2    "> Usuario</span>
                </div>
                <input type="email" name="email" class="form-control m-2" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text fa fa-lock m-2"> Contrasenia</span>
                </div>
                <input type="password" name="pass" class="form-control m-2 " placeholder="Contrasenia " aria-label="Pasword " aria-describedby="basic-addon1 ">
                <button class="btn btn-primary  m-2">Iniciar</button>
            </div>
        </div>
        <div class="col-md-6 justify-content-center ">
            <p style="color: aliceblue; font-family: Latin Modern Roman 10; font-style: italic; " class="justify-content-lg-center">Tu diversion en nuestras manos</p>
            <img height="200 px" width="200 px" src="assets/img/botellas.png" alt="">
        </div>
    </div>
</div>