<div class="animate__animated animate__fadeIn animate__fast">
  <h3 class="text-center my-2">Bienvenido a Drunk Webstore</h3>
  <small class="d-block text-center text-muted">Tu licoreria favorita</small>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <fieldset class="">
          <legend class="text-center">
            Ingresa tus credenciales
          </legend>

          <div class="form-group">
            <label for="email">
              <i class="fas fa-envelope"></i>
              Email:
            </label>
            <input
              class="form-control"
              type="email"
              id="email"
              placeholder="Ingrese su correo"
              formControlName="email"
            />
            <div *ngIf="email.invalid && email.touched" class="text-danger">
              <small *ngIf="email.errors.required">
                Por favor ingrese el email.
              </small>
              <small *ngIf="email.errors.pattern">
                El correo ingresado no es valido.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="password">
              <i class="fas fa-unlock"></i>
              Contraseña:
            </label>
            <input
              class="form-control"
              type="password"
              id="password"
              placeholder="Ingrese su contraseña"
              formControlName="password"
            />
          </div>
          <div *ngIf="password.invalid && password.touched" class="text-danger">
            <small *ngIf="password.errors.required">
              Por favor ingrese su contraseña.
            </small>
          </div>

          <button type="submit" class="btn btn-primary d-block mx-auto mt-3">
            Iniciar sesion
          </button>
        </fieldset>
      </form>
    </div>
    <div class="col-md-6 mt-4 p-4 justify-content-center">
      <app-slider [showCaption]="false"></app-slider>
    </div>
  </div>
</div>
