<div class="animate__animated animate__fadeIn animate__fast">
  <h2 class="text-center">
    <i class="fas fa-paper-plane"></i>
    Nuestra Empresa
  </h2>

  <div class="card text-white bg-primary mb-3 w-100">
    <div class="card-body">
      <i class="fas fa-quote-left"></i>
      <p class="card-text lead">
        Un buen licor es una herramienta esencial para la lubricación social,
        aunque me ha supuesto beber más de lo que hubiera consumido en mi vida.
      </p>
      <small> Ken Follett</small>
    </div>
  </div>

  <div class="card mb-3">
    <h3 class="card-header text-center">
      <i class="fas fa-bullseye"></i>
      Nuestra mision
    </h3>
    <div class="card-body">
      <p class="text-uppercase card-subtitle text-muted">
        Mejorar el consumo de bebida en el mundo brindando la mejorar calidad y
        calidez a nuestro clientes.
      </p>
      <img
        class="p-4"
        style="height: 250px; width: 100%; display: block;"
        src="assets\img\licoreriaAbout.jpeg"
        alt="Card image"
      />
      <p class="card-text">
        Por que confiar sus productos y su felicidad en nuestras manos?.
      </p>
    </div>

    <ul class="list-group list-group-flush styled">
      <li class="list-group-item">
        Calidad: búsqueda de la excelencia en todas nuestras acciones.
      </li>
      <li class="list-group-item">
        Responsabilidad: con nuestros empleados, clientes y proveedores.
      </li>
      <li class="list-group-item">
        Flexibilidad y Adaptación: ser capaces de adaptarnos a las diversas
        circunstancias sociales, económicas, personales y del entorno.
      </li>
    </ul>
  </div>

  <div class="card">
    <h3 class="card-header text-center">
      <i class="fas fa-info"></i>
      ¿Que hacemos?
    </h3>
    <div class="card-body">
      <h6 class="card-title mb-2 text-muted">
        Metodos modernos
      </h6>
      <p class="card-text">
        En Drunk web store tenemos una vocación líder, moderna y dinámica,
        atenta a as tendencias sociales y claramente orientada al mercado. Somos
        un distribuidor especialista y de confianza de bebidas. (Hostelería,
        Restauración y Catering. Nuestro “productos” está en un servicio
        personalizado
      </p>
    </div>
  </div>

  <div class="card mt-3">
    <h3 class="card-header text-center">
      <i class="fas fa-code"></i>
      Desarrolladores
    </h3>
    <div class="card-deck p-5">
      <div class="card">
        <img src="assets\img\Will.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Wilson Aguilar</h5>
          <p class="card-text">
            Estudiante de la Universidad Politecnica Salesiana de Septimo nivel
            en la carrera de Ingenieria en Ciencias de la Computacion.
          </p>
          <p class="card-text">
            <small class="text-muted">.</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img src="assets\img\Ricardo1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Ricardo Romo</h5>
          <p>
            Estudiante de la Universidad Politecnica Salesiana de Septimo nivel
            en la carrera de Ingenieria en Ciencias de la Computacion.
          </p>
          <p class="card-text">
            <small class="text-muted">.</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img src="assets\img\Gabriel.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Pablo Cacuango</h5>
          <p class="card-text">
            Estudiante de la Universidad Politecnica Salesiana de Septimo nivel
            en la carrera de Ingenieria en Ciencias de la Computacion.
          </p>
          <p class="card-text">
            <small class="text-muted">.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
