<div class="bg-dark">
    <div class="container p-4">
        <div class="jumbotron row navbar">
            <div class="col">
                <h2 class="fas fa-paper-plane align-items-center">
                    Nuestra Empresa
                </h2>
                <div>
                    <div class="center"></div>
                    <form>
                        <fieldset>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 fas fa-quote-left"></h5>
                                    </div>
                                    <p class="mb-1">
                                        Un buen licor es una herramienta esencial para la lubricación social, aunque me ha supuesto beber más de lo que hubiera consumido en mi vida.
                                    </p>

                                    <small> Ken Follett</small>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 fas">Nuestra Historia</h5>
                                    </div>

                                    <p class="mb-1">
                                        Somos una empresa que se encarga que disfruta aportar al deleite de sus fiestas con la mejor seleccion de licores a cualquier comodidad para nuestros clientes siempre pensando en su bienestar y su comdidad, disfrute de nuestros servicios de la Licoreria
                                        “La veci” ubicados en el Valle de los Chillos a una cuadra del chifa Oceano.
                                    </p>
                                    <small class="text-muted">Licoraria la veci.</small>
                                </a>
                            </div>

                            <div class="card mb-3">
                                <h3 class="card-header">Nuestra mision</h3>
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <h6 class="card-subtitle text-muted">
                                        Mejorar el consumo de bebida en el mundo brindando la mejorar calidad y calidez a nuestro clientes.
                                    </h6>
                                </div>
                                <img style="height: 200px; width: 100%; display: block;" src="assets\img\licoreriaAbout.jpeg" alt="Card image" />
                                <div class="card-body">
                                    <p class="card-text">
                                        Por que confiar sus productos y su felicidad en nuestras manos?.
                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <ul>
                                            <li>
                                                Calidad: búsqueda de la excelencia en todas nuestras acciones.
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <ul>
                                            <li>
                                                Responsabilidad: con nuestros empleados, clientes y proveedores.
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <ul>
                                            <li>
                                                Flexibilidad y Adaptación: ser capaces de adaptarnos a las diversas circunstancias sociales, económicas, personales y del entorno.
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Que hacemos?</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        Metodos modernos
                                    </h6>
                                    <p class="card-text">
                                        En Drunk web store tenemos una vocación líder, moderna y dinámica, atenta a as tendencias sociales y claramente orientada al mercado. Somos un distribuidor especialista y de confianza de bebidas. (Hostelería, Restauración y Catering. Nuestro “productos”
                                        está en un servicio personalizado
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">.</small>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">.</small>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <h6>Desarolladores</h6>
                                <div class="card-group">
                                    <div class="card">
                                        <img src="assets\img\Will.png" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">Wilson Aguilar</h5>
                                            <p class="card-text">
                                                Estudiante de la Universidad Politecnica Salesiana de Septimo nivel en la carrera de Ingenieria en Ciencias de la Computacion.
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">.</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="assets\img\Ricardo1.png" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">Ricardo Romo</h5>
                                            <p>
                                                Estudiante de la Universidad Politecnica Salesiana de Septimo nivel en la carrera de Ingenieria en Ciencias de la Computacion.
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">.</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="assets\img\Gabriel.png" class="card-img-top" alt="..." />
                                        <div class="card-body">
                                            <h5 class="card-title">Pablo Cacuango</h5>
                                            <p class="card-text">
                                                Estudiante de la Universidad Politecnica Salesiana de Septimo nivel en la carrera de Ingenieria en Ciencias de la Computacion.
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">.</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-3 text-center"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>