<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand logo" href="#">
    <i class="fas fa-2x fa-glass-cheers logo-icon"></i>
    <div class="logo-title">
      DRUNK WEBSTORE
    </div>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav text-center mr-auto">
      <li class="nav-item" routerLinkAcctive="active">
        <a class="nav-link" [routerLink]="['home']">INICIO</a>
      </li>
      <li class="nav-item" routerLinkAcctive="active">
        <a class="nav-link" [routerLink]="['about']">NOSOTROS</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar nav-item mr-0">
          <input
            class="search_input"
            type="text"
            name=""
            placeholder="Search..."
          />
          <a href="javascript:void(0);" class="nav-link search_icon"
            ><i class="icon fas fa-search"></i
          ></a>
        </div>
      </div>
    </form>

    <ul class="navbar-nav text-center ml-3">
      <li class="nav-item" routerLinkAcctive="active">
        <a class="nav-link">
          <i class="icon fas fa-shopping-cart mr-2"></i>
          <span class="badge badge-pill badge-danger cart-count">4</span>
          Carrito
        </a>
      </li>
      <li class="nav-item" routerLinkAcctive="active">
        <a class="nav-link" [routerLink]="['login']">
          <i class="icon fas fa-user mr-2"></i>LOG IN
        </a>
      </li>
      <li class="nav-item" routerLinkAcctive="active">
        <a class="nav-link" [routerLink]="['register']">REGISTRO</a>
      </li>
    </ul>
  </div>
</nav>
