<div class="container container-expand-lg ">
    <div class=" jumbotron row navbar  ">
        <div class="col">
            <div>
                <div class="center">
                    <h1 class="display-5 "><i class="fas fa-id-card"></i> REGISTRO</h1>
                </div>
                <form>
                    <fieldset>

                        <div class="form-group">
                            <label for="exampleInputEmail1"><i class="fas fa-envelope-open"></i> Correo Electronico</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo">
                            <small id="emailHelp" class="form-text text-muted">                                        Nostros nunca compartiremos tu email con nadie 
                        </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"><i class="fas fa-key"></i> Constraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Inserta tu contraseña">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"><i class="fas fa-lock"></i> Confima tu Contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Inserta nuevamente tu contraseña">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1"><i class="fas fa-calendar-week"></i> Fecha de Nacimiento</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="mt-3 text-center">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md p-2 ">
            <app-slider></app-slider>
        </div>
    </div>
</div>