<h3 class="text-center my-2">Bienvenido a Drunk Webstore</h3>
<small class="d-block text-center text-muted">Tu licoreria favorita</small>
<hr />
<div class="row">
  <div class="col-md-6">
    <form>
      <fieldset>
        <legend class="text-center">
          <i class="fas fa-id-card"></i> REGISTRO
        </legend>
        <div class="form group row mb-2">
          <div class="col-md-6">
            <label for="name" class="col-form-label">Nombre: </label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              [class.is-invalid]="true"
            />
            <div class="text-danger">
              <small>Ingrese su nombre.</small>
            </div>
          </div>

          <div class="col-md-6">
            <label for="lastname" class="col-form-label">Apellido: </label>
            <input
              type="text"
              name="lastname"
              id="lastname"
              class="form-control"
              [class.is-valid]="true"
            />
            <div class="text-danger">
              <small>Ingrese su apellido.</small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">
            <i class="fas fa-envelope-open"></i>
            Correo Electronico.
          </label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Ingresa tu correo"
          />
          <div class="text-danger">
            <small>Ingrese su correo.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="pass1">
            <i class="fas fa-key"></i>
            Constraseña.
          </label>
          <input
            type="password"
            class="form-control"
            id="pass1"
            placeholder="Inserta tu contraseña"
          />
          <div class="text-danger">
            <small>Ingrese su contraseña.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="pass2">
            <i class="fas fa-redo"></i>
            Confirma tu contraseña.
          </label>
          <input
            type="password"
            class="form-control"
            id="pass2"
            placeholder="Inserta tu contraseña"
          />
          <div class="text-danger">
            <small>Las contraseñas deben ser iguales.</small>
          </div>
        </div>

        <!--  Fecha de nacimiento -->
        <!-- <div class="form-group">
          <label for="exampleInputPassword1"
            ><i class="fas fa-calendar-week"></i> Fecha de Nacimiento</label
          >
          <input type="date" class="form-control" />
        </div> -->

        <div class="mt-3 text-center">
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-6 mt-4 p-4 justify-content-center">
    <app-slider [showCaption]="false"></app-slider>
  </div>
</div>
