<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleCaptions"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      [class.active]="i === 0"
      *ngFor="let item of [1, 2, 3]; let i = index"
    >
      <div class="slider-wraper">
        <img
          [src]="'assets/img/slide-' + (i + 1) + '.jpg'"
          class="d-block w-100 slider-item"
          alt="..."
        />
      </div>
      <div class="carousel-caption d-none d-md-block" *ngIf="showCaption">
        <h5 *ngIf="i === 0">Drunk WebStore</h5>
        <h5 *ngIf="i === 1">Drunk WebStore</h5>
        <h5 *ngIf="i === 2">Drunk WebStore</h5>
        <p *ngIf="i === 0">
          Los mejores licores a tu alcance.
        </p>
        <p *ngIf="i === 1">
          Al ser una empresa de tradición en el mercado quiteño, hemos
          acompañado sus eventos con la más alta calidad y variedad de licores
        </p>
        <p *ngIf="i === 2">
          Nuestra carta incluye más de 70 productos de reconocidas marcas de las
          más importantes regiones del mundo, finos whiskies de 12 y 21 años,
          vinos, cerveza nacional e importada, brandy, ron , etc.
        </p>
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleCaptions"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
