<div class="row">
  <div class="col-lg-3 mt-3">
    <h4 class="text-center">
      Panel de Administracion
    </h4>
    <hr />
    <div
      class="nav flex-column nav-pills"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link"
        [routerLink]="['/dashboard', 'users']"
        routerLinkActive="active"
      >
        <i class="fas fa-users"></i>
        Usuarios
      </a>
      <a
        class="nav-link"
        [routerLink]="['/dashboard', 'products']"
        routerLinkActive="active"
      >
        <i class="fas fa-beer"></i>
        Productos
      </a>
      <a
        class="nav-link"
        [routerLink]="['/dashboard', 'orders']"
        routerLinkActive="active"
      >
        <i class="fas fa-tags"></i>
        Pedidos
      </a>
    </div>
  </div>
  <div class="col-lg-9 mt-3 animate__animated animate__fadeIn">
    <router-outlet></router-outlet>
  </div>
</div>
