<h2>
  Modulo de usuarios
</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dashboard', 'users', 'list']"
    >
      Lista de usuarios
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dashboard', 'users', 'new']"
    >
      Nuevo usuario.
    </a>
  </li>
</ul>

<div class="container animate__animated animate__fadeIn animate__fast">
  <h3 class="text-center my-3">{{ pageData.title }}</h3>
  <div class="container">
    <form [formGroup]="rf" (ngSubmit)="submit()">
      <fieldset>
        <legend class="text-center">
          {{ pageData.text }}
        </legend>
        <div class="form-group">
          <label class="col-form-label" for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese el nombre"
            id="name"
            formControlName="name"
            [class.is-invalid]="name.invalid && name.touched"
          />
          <div class="text-danger" *ngIf="name.invalid && name.touched">
            <small *ngIf="name.errors.required">El nombre es obligatorio</small>
            <small *ngIf="name.errors.pattern">
              El nombre solo puede contener letras
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label" for="lastname">Apellido</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese el apellido"
            id="lastname"
            formControlName="lastname"
            [class.is-invalid]="lastname.invalid && lastname.touched"
          />
          <div class="text-danger" *ngIf="lastname.invalid && lastname.touched">
            <small *ngIf="lastname.errors.required">
              El apellido es obligatorio
            </small>
            <small *ngIf="lastname.errors.pattern">
              El apellido solo puede contener letras
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Dirrecion de correo electronico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
            [class.is-invalid]="email.invalid && email.touched"
          />
          <small id="emailHelp" class="form-text text-muted">
            Recuerde no compartir el correo con nadie mas.
          </small>
          <div class="text-danger" *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors.required">
              El email es obligatorio
            </small>
            <small *ngIf="email.errors.pattern">
              El email no es valido
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
            [class.is-invalid]="password.invalid && password.touched"
          />
          <div class="text-danger" *ngIf="password.invalid && password.touched">
            <small *ngIf="password.errors.required">
              La contraseña es obligatoria
            </small>
          </div>
        </div>
        <div class="form-group">
          <label for="img">Subir una imagen</label>
          <input
            type="file"
            class="form-control-file"
            id="img"
            aria-describedby="fileHelp"
            (change)="fileChange($event)"
          />
          <small id="fileHelp" class="form-text text-muted">
            Escoja una imagen de perfil
          </small>
        </div>

        <div class="form-group">
          <label for="userRoll">Seleccione el rol</label>
          <select
            class="form-control"
            id="userRoll"
            [value]="'USER_ROLE'"
            formControlName="role"
          >
            <option [value]="role" *ngFor="let role of validRoles">
              {{ role }}
            </option>
          </select>
        </div>

        <fieldset class="form-group">
          <legend class="control-label">Status</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="radio"
                class="form-check-input"
                id="trueState"
                [value]="true"
                formControlName="status"
              />
              Activado
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="radio"
                class="form-check-input"
                id="flaseState"
                [value]="false"
                formControlName="status"
              />
              Desactivado
            </label>
          </div>
        </fieldset>

        <button
          type="submit"
          class="btn btn-primary"
          style="border-radius: 8px;"
        >
          <i class="fa fa-save mr-1"></i>
          Guardar cambios
        </button>
      </fieldset>
    </form>
  </div>
</div>
