<h2>
  Modulo de usuarios
</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dashboard', 'users', 'list']"
    >
      Lista de usuarios
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dashboard', 'users', 'new']"
    >
      Nuevo usuario.
    </a>
  </li>
</ul>
<div class="container animate__animated animate__fadeIn animate__fast">
  <h3 class="text-center my-3">Registro de usuarios</h3>
  <div class="container">
    <form>
      <fieldset>
        <legend class="text-center">
          Ingrese los campos para agregar un nuevo usuario
        </legend>
        <div class="form-group">
          <label class="col-form-label" for="nameUser">Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese el nombre"
            id="nameUser"
          />
        </div>
        <div class="form-group">
          <label class="col-form-label" for="lastUser">Apellido</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingrese el apellido"
            id="lastUser"
          />
        </div>
        <div class="form-group">
          <label for="emailUser">Dirrecion de correo electronico</label>
          <input
            type="email"
            class="form-control"
            id="emailUser"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            style="
              background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==');
              background-repeat: no-repeat;
              background-attachment: scroll;
              background-size: 16px 18px;
              background-position: 98% 50%;
              cursor: auto;
            "
          />
          <small id="emailHelp" class="form-text text-muted">
            Recuerde no compartir el correo con nadie mas.</small
          >
        </div>
        <div class="form-group">
          <label for="userPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="userPassword"
            placeholder="Password"
            style="
              background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACIUlEQVQ4EX2TOYhTURSG87IMihDsjGghBhFBmHFDHLWwSqcikk4RRKJgk0KL7C8bMpWpZtIqNkEUl1ZCgs0wOo0SxiLMDApWlgOPrH7/5b2QkYwX7jvn/uc//zl3edZ4PPbNGvF4fC4ajR5VrNvt/mo0Gr1ZPOtfgWw2e9Lv9+chX7cs64CS4Oxg3o9GI7tUKv0Q5o1dAiTfCgQCLwnOkfQOu+oSLyJ2A783HA7vIPLGxX0TgVwud4HKn0nc7Pf7N6vV6oZHkkX8FPG3uMfgXC0Wi2vCg/poUKGGcagQI3k7k8mcp5slcGswGDwpl8tfwGJg3xB6Dvey8vz6oH4C3iXcFYjbwiDeo1KafafkC3NjK7iL5ESFGQEUF7Sg+ifZdDp9GnMF/KGmfBdT2HCwZ7TwtrBPC7rQaav6Iv48rqZwg+F+p8hOMBj0IbxfMdMBrW5pAVGV/ztINByENkU0t5BIJEKRSOQ3Aj+Z57iFs1R5NK3EQS6HQqF1zmQdzpFWq3W42WwOTAf1er1PF2USFlC+qxMvFAr3HcexWX+QX6lUvsKpkTyPSEXJkw6MQ4S38Ljdbi8rmM/nY+CvgNcQqdH6U/xrYK9t244jZv6ByUOSiDdIfgBZ12U6dHEHu9TpdIr8F0OP692CtzaW/a6y3y0Wx5kbFHvGuXzkgf0xhKnPzA4UTyaTB8Ph8AvcHi3fnsrZ7Wore02YViqVOrRXXPhfqP8j6MYlawoAAAAASUVORK5CYII=');
              background-repeat: no-repeat;
              background-attachment: scroll;
              background-size: 16px 18px;
              background-position: 98% 50%;
              cursor: auto;
            "
          />
        </div>
        <div class="form-group">
          <label for="userFile">Subir una imagen</label>
          <input
            type="file"
            class="form-control-file"
            id="userFile"
            aria-describedby="fileHelp"
          />
          <small id="fileHelp" class="form-text text-muted"
            >Escoja una imagen de perfil</small
          >
        </div>

        <div class="form-group">
          <label for="userRoll">Example select</label>
          <select class="form-control" id="userRoll">
            <option>Rol 1</option>
            <option>Ral 2</option>
            <option>Eol 3</option>
          </select>
        </div>

        <fieldset class="form-group">
          <legend>Status</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="radio"
                class="form-check-input"
                name="optionsRadios"
                id="trueState"
                value="option1"
                checked=""
              />
              Activado
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="radio"
                class="form-check-input"
                name="optionsRadios"
                id="flaseState"
                value="option2"
              />
              Desactivado
            </label>
          </div>
        </fieldset>

        <button
          type="submit"
          class="btn btn-primary"
          style="border-radius: 8px;"
        >
          Agregar
        </button>
      </fieldset>
    </form>
  </div>
</div>
