<h2>
  Modulo de usuarios
</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dashboard', 'users', 'user-list']"
    >
      Lista de usuarios
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dashboard', 'users', 'user-new']"
    >
      Nuevo usuario.
    </a>
  </li>
</ul>
<div class="container">
  <h1>registro nuevo</h1>
</div>
